<@sys_config>
<#assign title="${sys_website_name!!}">
<#include "header.html"/>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a href="" class="layui-this">综合</a>
                    <span class="fly-filter-right layui-hide-xs">
                        <a href="" class="layui-this">最新</a>
                    </span>
                </div>

                <ul class="fly-list">
                    <#list articleList ! as a>
                        <li>
                            <a href="${request.contextPath}/getUserById.do?id=${a.userId?c}" class="fly-avatar">
                                <img src="${request.contextPath}/${a.sysUser.userAvatar!!}"
                                     onerror="javascript:this.src='${request.contextPath}/res/images/avatar/default.png'">
                            </a>
                            <h2>
                                <a href="${request.contextPath}/getArticle.do?articleId=${a.id?c}">${a.title!!}</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="${request.contextPath}/getUserById.do?id=${a.userId!!}" link>
                                    <cite>${a.author!!}</cite>
                                    <!--
                                    <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                                    <i class="layui-badge fly-badge-vip">VIP3</i>
                                    -->
                                </a>
                                <span>${a.publishDate!!}</span>
                                <span class="fly-list-nums">
                                    <i class="iconfont icon-pinglun1" title="评论数"></i> ${a.commentCount!!}
                                </span>
                            </div>
                            <div class="fly-list-badge">
                                <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                            </div>
                        </li>
                    </#list>
                </ul>
            </div>
        </div>
        <div class="layui-col-md4">
            <#if Session["SESSION_USER"]??>
                <div class="fly-panel fly-signin">
                    <div class="fly-panel-title">
                        用户名：${Session['SESSION_USER'].username!!}
                        <i class="fly-mid"></i>
                    </div>
                    <div class="fly-panel-main fly-signin-main">
<!--                        <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>-->
                        <a class="layui-btn" href="${request.contextPath}/user/index.do">用户中心</a>
                    </div>
                </div>
            </#if>

            <#include "right.html"/>
        </div>
    </div>
</div>
<#include "footer.html"/>
</@sys_config>