<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="margin: 20px; font-size: 14px;">
        <p>RASP防御能力测试，源码开源在Github：<a href="https://github.com/javaweb-rasp/javaweb-vuln">javaweb-vuln</a>，
            每一个示例都可以修改攻击的Payload或修改该示例程序代码，不存在公平性问题。</p>
        <br/>
        <p><B>注意：</B></p>
        <p>1. 在使用该靶场程序时默认您已经熟悉Web渗透测试或熟知示例漏洞原理，能够独立修改或编写攻击Payload！</p>
        <p>2. 部分攻击示例需要使用的特定的JDK、中间件、数据库版本以及操作系统类型，请留意具体的示例说明！</p>
        <p>3. 攻击部分示例时可能会有错误/异常信息，这属于正常情况，不会影响测试结果！</p>
    </div>
</body>
</html>