<!DOCTYPE html>
<html>
<@sys_config>
<head>
    <meta charset="utf-8">
    <title>${title!!}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="${sys_website_keywords!!}">
    <meta name="description" content="${sys_website_description!!}">
    <link rel="stylesheet" href="${request.contextPath}/res/layui/css/layui.css">
    <link rel="stylesheet" href="${request.contextPath}/res/css/global.css">
    <script src="${request.contextPath}/res/layui/layui.js"></script>
</head>
<body>
<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="${request.contextPath}/index.do">
            <img src="${request.contextPath}/res/images/logo.png" alt="${sys_website_keywords!!}">
        </a>
        <ul class="layui-nav fly-nav-user">
            <#if Session["SESSION_USER"]??>
                <!-- 登入后的状态 -->
                <li class="layui-nav-item">
                    <a class="fly-nav-avatar" href="javascript:;">
                        <cite class="layui-hide-xs">${Session['SESSION_USER'].username!!}</cite>
                        <img src="${request.contextPath}/${Session['SESSION_USER'].userAvatar!!}" alt="${Session['SESSION_USER'].username!!}"
                             onerror="javascript:this.src='${request.contextPath}/res/images/avatar/default.png'">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:logout();" id="logout" style="text-align: center;">退出</a></dd>
                    </dl>
                </li>
                <#else>
                <!-- 未登入的状态 -->
                <li class="layui-nav-item">
                    <a class="iconfont icon-touxiang layui-hide-xs" href="${request.contextPath}/login.php"></a>
                </li>
                <li class="layui-nav-item">
                    <a href="${request.contextPath}/login.php">登入</a>
                </li>
                <li class="layui-nav-item">
                    <a href="${request.contextPath}/reg.php">注册</a>
                </li>
            </#if>
        </ul>
    </div>
</div>

<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="${request.contextPath}/index.do">首页</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <#if Session["SESSION_USER"]??>
                <a href="${request.contextPath}/addArticle.php" class="layui-btn">发表新帖</a>
            </#if>
        </div>
    </div>
</div>

<script>
    layui.use(['jquery', 'layer'], function () {
        var $ = layui.$

        window.logout = function() {
            $.ajax({
                type: "POST",
                url: "${request.contextPath}/user/logout.php",
                success: function (resp) {
                    if (resp.valid) {
                        location.href = '${request.contextPath}/index.do';
                    } else {
                        layer.msg(resp.msg);
                    }
                },
                error: function (err) {
                    layer.msg(err.msg);
                }
            });
        }
    });
</script>
</@sys_config>